
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e3f2fd;

}
.container{
    position: relative;
    background-image: url("/img/bg.jpg");
    background-size: cover;
    padding: 25px;
    border-radius: 25px;
    max-width: 380px;
    width: 100%;
    height: 227px;
    box-shadow:0 5px 10px rgba(0, 0, 0, .1);

}
header, .logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    width: 60px;
    height: 50px;
}
header .chip{
    width: 60px;
}
.container .card-detail{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    align-items: flex-end;
    /* margin: 10px 0;
    padding: 10px 0; */
}
.container h6, h5{
    font-size: 18px;
    font-weight: 2000;
    letter-spacing: 1px;
    color: black;
}